<section class="section">
        <div class="columns">
            <div class="column">
                <div class="box has-background-white-ter">
                    <h1 class="title">Admin Panel</h1>
                    <h2 class="subtitle"><span class="is-italic">"Where there is beer there is life"</span> - Mahatma
                        Gandhi</h2>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box has-background-primary">
                    <h2 class="has-text-primary-light is-size-3">Add Employee</h2>
                    <form action="/employees" method="post" >
                        <div class="field">
                            <label class="label is-small">User Name</label>
                            <div class="control">
                                <input class="input" name="user_name" type="text" placeholder="User Name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small">Password</label>
                            <div class="control">
                                <input class="input" name="password" type="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small">First Name</label>
                            <div class="control">
                                <input class="input" name="first_name" type="text" placeholder="First Name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small">Last Name</label>
                            <div class="control">
                                <input class="input" name="last_name" type="text" placeholder="Last Name">
                                <input type="hidden" name="active" value="true">
                            </div>
                        </div>
                        
                        <button class="button is-block is-black is-fullwidth is-medium" type="submit">Add Employee</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-primary">
                    <h2 class="has-text-primary-light is-size-3">Employees</h2>
                     {{#each employee}}
                     <div class="columns">
                        <div class="column is-small is-four-fifths">
                            <pre><p>ID:{{this.id}}     User Name:{{this.user_name}}     Name:{{this.first_name}} {{this.last_name}}</p></pre>
                        </div>
                        <div class="column">
                            <form class="delete-employee-form">
                                <input input type="hidden" class="user_id" type="text" value={{this.id}}><br>
                                <button type="submit" class="button is-black is-fullwidth">Delete</button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column">
                <div class="box has-background-warning">
                    <h2 class="has-text-primary-light is-size-3">Add Style</h2>
                    <form action="/styles/" method="post">
                        <div class="field">
                            <label class="label is-small">User Name</label>
                            <div class="control">
                                <input class="input" name="name" type="text" placeholder="Style Name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small">Description</label>
                            <div class="control">
                                <textarea class="is-medium textarea" name="description" rows="4" placeholder="Style Description"></textarea>
                            </div>
                        </div>
                        <button class="button is-block is-black is-fullwidth is-medium" type="submit">Add Style</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-warning">
                    <h2 class="has-text-primary-light is-size-3">Styles</h2>
                    <div class="columns">
                        <div class="column is-small is-four-fifths">
                            <pre>Id Style Name</pre>
                        </div>
                        <div class="column">
                            <form class="delete-style-form">
                                <input input type="hidden" class="id" type="text" value="id"><br>
                                <button type="submit" class="button is-black is-fullwidth">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box has-background-info">
                    <h2 class="has-text-primary-light is-size-3">Add Brewery</h2>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-info">
                    <h2 class="has-text-primary-light is-size-3">Search Brewery</h2>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box has-background-info">
                    <h2 class="has-text-primary-light is-size-3">Update Brewery</h2>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-info">
                    <h2 class="has-text-primary-light is-size-3">Remove Brewery</h2>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box has-background-success">
                    <h2 class="has-text-primary-light is-size-3">Add Beer</h2>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-success">
                    <h2 class="has-text-primary-light is-size-3">Search Remove</h2>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box has-background-success">
                    <h2 class="has-text-primary-light is-size-3">Update Beer</h2>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-success">
                    <h2 class="has-text-primary-light is-size-3">Remove Remove</h2>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/deleteemployee.js"></script>
