<section class="section">
  <div class="container is-max-desktop beer-detail-container">
    <div class="card is-shady">
      <div class="card-image beer-detail-container">
        <figure class="image">
          <img src="{{beer.image}}" alt="Image of {{beer.name}}">
        </figure>
      </div>
      <div class="card-content has-background-light beer-content">
        <div class="content"> 
          <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item px-0 mx-0">
                    <figure class="image is-24x24 px-0 mx-1">
                      <img class="ahab is-clickable" src="/images/ahab.png" data-index={{this.id}}>
                    </figure>
                  </div>
                  <div class="level-item">
                    <p>{{numLikes}}</p>
                  </div>
                </div>
          </div>
          <h4 class="title beer-title m-0">{{beer.name}}</h4>
          <h5 class="subtitle m-0 is-6"><a href="/breweries/{{beer.Brewery.id}}">{{beer.Brewery.brewery_name}}</a></h5>
          <p class="is-size-7 m-0">Style: <span class="beer-abv"><a href="/styles/{{beer.StyleId}}">{{beer.Style.name}}</a></span></p>
          <p class="m-0 is-size-7">IBU: <span class="beer-ibu">{{beer.ibu}}</span></p>
          <p class="is-size-7 m-0">ABV: <span class="beer-abv">{{beer.abv}}</span>%</p>
          <p>{{beer.description}}</p>
          </div> 
      </div>
      {{#if user}}
      <footer class="card-footer">
        <button class="add-six-pack card-footer-item button is-black is-medium is-fullwidth" value={{beer.id}}>Add To Six Pack</Button>
      </footer>
      {{/if}}
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/addbeersixpack.js"></script>
<script src="/js/ahabclick.js"></script>
