<body>
    <div class="hero">
        <div class="container">{{#each sixpack}}
            <h1 class="title">My {{this.name}} Six Pack</h1>
        </div>
    </div>

    <section>
        <!-- Six Pack Beers -->
        <div class="container is-max-desktop beer-detail-container">
             
              {{#each Beers}}
            <div class="card is-shady m-2">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{this.image}}"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-right">
                            <div class="media-content">
                                <h4 class="title beer-title m-0">{{this.name}}</h4>
                                <figure class="image is-24x24">
                                        <img class="ahab is-clickable" src="/images/ahab.png" data-index={{this.id}}>
                                </figure>
                                <p class="m-0 is-size-7">{{this.Ratings.length}}</p>

                                <h5 class="subtitle has-text-grey m-0 is-6">{{this.Brewery.brewery_name}}</h5>
                                <p class="m-0 is-size-7">Stlye: <span class="beer-ibu">{{this.Style.name}}</span></p>
                                <p class="m-0 is-size-7">IBU: <span class="beer-ibu">{{this.ibu}}</span></p>
                                <p class="is-size-7 m-0">ABV: <span class="beer-abv">{{this.abv}}</span>%</p>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        {{this.description}}
                    </div>
                </div>
                <footer class="card-footer">
                    <span class=" card-footer-item button is-danger is-medium is-fullwidth">Remove From Six Pack</span>
                </footer>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </section>